/* 
   12.8rem margin
   3.2rem padding top
 */
@import "../../App.module.css";

.heading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4.8rem;
  margin-bottom: 12.8rem;
}

.heading {
  width: 100%;
  background-color: #2f9e44;
  /* padding-left: 9.6rem; */
  padding: 3.2rem 0 3.2rem 12.8rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  gap: 20rem;
  position: relative;
}

.heading-img {
  height: 30rem;
  border-radius: 1.5rem;
  transform: scale(1.6);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
  margin-left: 3.2rem;
}

.content {
  width: 40%;
}
.content-heading {
  color: #ebfbee;
  margin-bottom: 3.2rem;
  font-size: 4.4rem;
}

.content-text {
  font-size: 1.8rem;
  color: #b2f2bb;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}
.content-paragraph {
  margin-bottom: 1.2rem;
}

ul {
  list-style: none;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
}

.icon {
  height: 2.4rem;
}

.btn--secondary.join-btn {
  position: absolute;
  top: 100%;
  left: 100%;
  font-size: 1.8rem;
  height: 5rem;
  width: 15rem;
  transform: translate(-100%, -100%);
  padding: 0.8rem;
  border: none;
  border-bottom-right-radius: 1.5rem;
}

.secondary-content {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.secondary-heading {
  font-size: 3.6rem;
}

.icon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  gap: 20rem;
}

.icon-secondary {
  stroke: #2f9e44;
  height: 3.6rem;
  width: 3.6rem;
  margin-bottom: 3.2rem;
}

.icon-item-heading {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.icon-item-text {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #666;
}
@media (max-width: 44rem) {
  .heading-img {
    height: 25rem;
  }

  .content-heading {
    font-size: 3rem;
  }
  /* .content-text {
    padding-bottom: 3.2rem;
  } */

  .list-item {
    font-size: 1.4rem;
  }

  .content-paragraph {
    font-size: 1.4rem;
    padding-right: 1.2rem;
  }
  .btn--secondary.join-btn {
    height: 3.75rem;
    width: 10rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 37.5rem) {
  .icon-list {
    grid-template-columns: 1fr;
    width: 40%;
    row-gap: 9.6rem;
  }
  .secondary-content {
    align-items: center;
  }
  .icon-item-heading {
    font-size: 3rem;
  }
  .icon-item-text {
    font-size: 2.4rem;
  }
  .content-paragraph {
    font-size: 1.8rem;
  }
}

@media (max-width: 31.5rem) {
  .heading {
    gap: 12rem;
    padding-left: 9.6rem;
  }
}

@media (max-width: 25.5rem) {
  .heading-img {
    height: 20rem;
  }
}
