/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 

MAIN COLOR: #2f9e44 

Lighter versions: 
Buttons-font - #d3f9d8
Button-secondary-hover #8ce99a

Darker
Button-main-background - #2b8a3e


BORDER RADIUS: 
BUTTONS - 0.4 rem



*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
  font-family: "Rubik", sans-serif;
  color: #333;
  font-size: 1.6rem;
  line-height: 1;
  overflow: overlay;
}

body::-webkit-scrollbar {
  background-color: #0000;
  width: 1rem;
  height: 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #2f9e44;
  border-radius: 1rem;
}

section.section-margin {
  margin-bottom: 16rem;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

button {
  font-family: "Rubik", sans-serif;
}

.btn--main {
  background-color: #2f9e44;
  color: #d3f9d8;
  font-weight: 600;
}
.btn {
  border: none;
  cursor: pointer;
  font-size: 2.4rem;
  padding: 1.6rem 3.2rem;
  border-radius: 0.4rem;
  transition: all 0.3s;
}

.btn--secondary {
  background-color: #fff;
  font-weight: 400;
  color: #2f9e44;
  border: solid 1px #2f9e44;
}

.btn--secondary:hover {
  background-color: #8ce99a;
  color: #fff;
  border: solid 1px #fff;
}

.btn:hover {
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  box-shadow: 0 0 2.4rem rgba(255, 255, 255, 0.2);
}

.btn--main:hover,
.btn--main:active {
  background-color: #2b8a3e;
}

a.btn {
  text-decoration: none;
}

@media (max-width: 90rem) {
  html {
    font-size: 56.25%;
  }
  .container {
    padding: 0 3.2rem;
  }
}

@media (max-width: 81rem) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 72rem) {
  html {
    font-size: 43.75%;
  }
}

@media (max-width: 65rem) {
  html {
    font-size: 40.625%;
  }
}

@media (max-width: 59rem) {
  html {
    font-size: 37.5%;
  }
}

@media (max-width: 53rem) {
  html {
    font-size: 34.375%;
  }
}

@media (max-width: 37.5rem) {
  html {
    font-size: 28.125%;
  }
}

@media (max-width: 31.5rem) {
  html {
    font-size: 25%;
  }
}
