* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #333;
  font-size: 1.6rem;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}
