/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 

MAIN COLOR: #2f9e44 

Lighter versions: 
Buttons-font - #d3f9d8

Darker
Button-main-background - #2b8a3e


BORDER RADIUS: 
BUTTONS - 0.4 rem



*/

.hero-section {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(34, 34, 34, 0.8) 40%,
      rgba(34, 34, 34, 0.6) 60%,
      rgba(34, 34, 34, 0.4) 80%,
      rgba(34, 34, 34, 0.2) 100%
    ),
    url("/images/hero.jpg");
  background-size: cover;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem;
}

button {
  font-family: "Rubik", sans-serif;
}

.btn {
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem;
  border-radius: 0.4rem;
  transition: all 0.3s;
}

.btn--main {
  background-color: #2f9e44;
  color: #d3f9d8;
  font-weight: 600;
}

.btn.btn--secondary {
  background-color: #fff;
  font-weight: 400;
  color: #2f9e44;
  border: solid 1px #2f9e44;
}

.btn--secondary:hover {
  background-color: #8ce99a;
  color: #fff;
  border: solid 1px #fff;
}

.btn:hover {
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.1);
}

.btn:active {
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0);
}

.btn--main:hover,
.btn--main:active {
  background-color: #2b8a3e;
}
